<% provide(:title,'Contracts') %>
<h1>General Information for Contracts</h1>
<p>Feature your organization in the 2013 Aggieland yearbook. Turn in your contract at the Aggieland office in Suite L400 of the Memorial Student Center.</p>
<p><strong>Contract Forms</strong></p>
<%= link_to 'Academic and Student Organization Contract','/contracts/ac.pdf' %><br>
<%= link_to 'Club Sports Contract', '/contracts/cc.pdf' %><br>
<%= link_to 'Corps of Cadets Contract', '/contracts/coc.pdf' %><br>
<%= link_to 'Greeks Contract', '/contracts/gc.pdf' %><br>
<%= link_to 'Residence Hall Contract', '/contracts/rhc.pdf' %>