<li class="comment">
	<section>
	 	<h2>
			<%= gravatar_for User.find(comment.user_id) %>
			<%= link_to User.find(comment.user_id).name,user_path(User.find(comment.user_id)) %>
		</h2>
	</section>
    <span class="content"><%= comment.content %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(comment.created_at) %> ago.
      <% if current_user.admin? || current_user.id == @comment.user_id %>
			<%= link_to "delete", comment, method: :delete, data: { confirm: "You sure?",class: "delete"}, title: comment.content,class: "delete"%>
	  <%end%>
    </span>
</li>