<%= provide(:title, @user.name) %>
<div class = "row-fluid">

	<aside class="span4">
    <section>
     	<h1>
			<%= gravatar_for @user %>
			<%= @user.name %>
		</h1>
		<h1><%= @user.email %></h1>
		<h1><%= @user.phone unless @user.phone.nil? || @user.phone.empty? %></h1>
		<%if @user.admin?%>
      <h1 class="position"><%= @user.position %> / Admin</h1>
    <%else%>
      <h1 class="position"><%= @user.position %></h1>
    <%end%>
    <%if current_user.admin? && !current_user?(@user) && !@user.admin? || current_user.position=="Editor and Chief" %> 
      <%if user.admin? %>
        <%= link_to "Remove Admin Privileges", toggle_admin_user_path(@user),class: "btn" %>
      <%else%>
        <%= link_to "Give Admin Privileges", toggle_admin_user_path(@user),class: "btn" %>
      <%end%>
    <%end%>
    </section>
  	</aside>
	<div class="span8"> 
    <h3>Stories covering and covered (<%= @user.stories.count %>)</h3>
    <ol class="stories">
      <%= render @stories %>
    </ol>
    <%= will_paginate @stories %>
  </div>
</div>

