<%= provide(:title, @user.name) %>
<div class = "row-fluid">

	<aside class="span4">
    <section>
     	<h1>
			<%= gravatar_for @user %>
			<%= @user.name %>
		</h1>
		<h1><%= @user.email %></h1>
		<h1><%= @user.phone unless @user.phone.nil? || @user.phone.empty? %></h1>
		<h1><%= @user.position %></h1>
    </section>
  	</aside>
	<div class="span8">
    <% if @user.stories.any? %>
      <h3>Stories covering and covered (<%= @user.stories.count %>)</h3>
      <ol class="microposts">
        <%= render @stories %>
      </ol>
      <%= will_paginate @stories %>
    <% end %>
  </div>
</div>

