
<%= form_for(@story) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  	<%= f.label :topic %>
    <%= f.text_field :topic, placeholder: "New Story Topic" %>

    <%= f.label :date %>
    <%if @story.date.blank? %>
    <%= f.text_field :date, class: "datepicker", value: DateTime.now.strftime('%m/%d/%Y') %>
    <%else%>
    <%= f.text_field :date, class: "datepicker" %>
    <%end%>

    <%= f.label :time %>
    <%= f.text_field :time, class: "timepicker" %>

    <%= f.label :location %>
    <%= f.text_field :location %>

    <%if current_user.admin? %>
    <%= f.label :user_id, 'Staffer Covering' %>
    <%= f.collection_select(:user_id, User.all, :id, :name) %>
    <%end%>

    <%= f.label :description %>
    <%= f.text_area :description, size: "30x10" %>

    <%= f.label :notes %>
    <%= f.text_area :notes, size: "30x10" %>

  </div>
  <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
<% end %>