<li>
  <span class="topic"><%= story.topic %></span><br>
  <span class="covered_by">Covered by: <%= link_to User.find(story.user_id).name,  user_path(User.find(story.user_id))%></span><br>
  <span class="timestamp">
    Created <%= time_ago_in_words(story.created_at) %> ago.
  </span>
  | <%= link_to "view", story_path(story) %>
  <% if current_user.admin? %>
  | <%= link_to "edit", edit_story_path(story) %>
  <%end%>
  <% if current_user.admin? || current_user?(User.find(story.user_id)) %>
    | <%= link_to "delete", story, method: :delete,
                                    data: { confirm: "You sure?" }%>
  <%end%>
  <% if story.approved == 1 %>
    <span class="approved" >Approved</span>
  <%end%>
  <% if story.approved == 2 %>
    <span class="unapproved" >Unapproved</span>
  <%end%>
  <% if story.approved == 0 %>
    <span class="pending" >Awaiting approval</span>
  <%end%>

</li>