<% provide(:title, @story.topic) %>
<div class="row-fluid story">
	<aside class="span4 ">
		<section>
			<h1>Topic:</h1>
			<h2><%= @story.topic %></h2>
			<%if !@story.date.nil? %>
			<h1>Date:</h1>
			<%end%>
			<h2><%= @story.date unless @story.date.nil? %></h1>
			<%if !@story.time.nil? %>
			<h1>Time:</h1>
			<%end%>
			<h2><%= @story.time unless @story.time.nil? %></h1>
			<%if !@story.location.nil? && !@story.location.empty?%>
			<h1>Location:</h1>
			<%end%>
			<h2><%= @story.location unless @story.location.nil? || @story.location.empty?%></h1>
			<%if !@story.user_id.nil? %>
			<h1>Covered By:</h1>
			<%end%>
			<h2>
				<%= link_to User.find(@story.user_id).name, user_path(User.find(@story.user_id)) unless @story.user_id.nil?%>
			</h2>
			<% if current_user.admin? %>
				<% if @story.approved == 2 || @story.approved == 0 %>
					<%= link_to "Approve", 
		          		story_path(@story, 
			                    story: { approved: 1}),
			          		method: :put,
			          		class: "btn"%>
			    <%end%>
		        <%if @story.approved == 1 || @story.approved == 0%>
			        <%= link_to "Unapprove", 
		          		story_path(@story, 
			                    story: { approved: 2}),
			          		method: :put,
			          		class: "btn"%>
			    <%end%>
	        <%end%>
		</section>
	</aside>
	<div class="span7 story-desc-notes">
		<%if !@story.description.nil? && !@story.description.empty?%>
		<h1 class="title">Description:</h1>	
		<%end%>
		<p><%= @story.description unless @story.description.nil? || @story.description.empty?%></p>
		<%if  !@story.notes.nil? && !@story.notes.empty?%>
		<h1 class="title">Notes:</h1>
		<%end%>
		<p><%= @story.notes unless @story.notes.nil? || @story.notes.empty?%></p>
		<div class="comments">
			<h3>Comments (<%= @story.comments.count %>)</h3>
			<%= render 'shared/comment_form', story: @story.id %>
		    <% if @story.comments.any? %>
		      <ul>
		        <%= render @comments, story: @story.id %>
		      </ul>
		      <%= will_paginate @comments %>
		    <% end %>
		</div>
	</div>
	<% if current_user.admin? %>
		<div class'"span1" >
			<%= link_to "Edit",edit_story_path(@story),class: "btn" %>
		</div>
	<%end%>
</div>

