<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<%= stylesheet_link_tag    "application", media: "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<%= render 'layouts/shim' %>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class="container-fluid">
			<% flash.each do |key, value| %>
       			<div class="alert alert-<%= key %>"><%= value %></div>
      		<% end %>
			<div class ="row-fluid" >
      			
      			<div class="span2" id="sidebar">
	      			<!--sidebar content -->
	      			<li><%= link_to "History", history_path %></li>
	      			<li><%= link_to "About Us", about_path %></li>
	      			<li><%= link_to "Ordering", ordering_path %></li>
	      			<li><%= link_to "Portraits", portraits_path %></li>
	      			<li><%= link_to "Contracts", contracts_path %></li>
	      			<li><%= link_to "Sections", sections_path %></li>
	      			<li><%= link_to "Employment", employment_path %></li>
	      			<li><%= link_to "Awards", awards_path %></li>
	      			<li><%= link_to "FAQs", faqs_path %></li>

      			</div>
      			<div class="span10">
      				<!--body content -->
      				<%= yield %>
      			</div>
      		</div>
			
			<%= render 'layouts/footer' %>
			<%= debug(params) if Rails.env.development? %>
		</div> <!-- end of container -->

	</body>
</html>
